* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, main {
	height: 100%;
}

body {
	background: #EAFFFD;
}

.container {
	display: flex;
	flex-direction: column;

	padding: 1em 0.5em;
	max-width: max-content;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}

.chart-controls {
	margin: 1.5em 0;
}

.chart {
	display: flex;
	overflow-x: scroll;
	gap: 3px;
	border: 2px solid grey;
	padding: min(max(1vw, 6px), 1rem);
	background: #cafaf6;
	margin: 0 auto;
	max-width: max-content;
}

.day, .no-day {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px;
}

.day {
	background: darkgray;
}

.no-day {
	background: black;
}

.day:hover {
	background: lightgreen;
}

.day.clicked {
	background: green;
}

.day.clicked:hover {
	background: red;
}

.chart-git-reproducer  {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.chart-git-reproducer > h2 {
	margin: 0.75em 0;
}

#cmd-section {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.cmd-wrapper {
	display: flex;
	margin-bottom: 1rem;
}

@media (min-height: 700px) {
	.cmd-wrapper {
		flex-grow: 1;
		height: 0;
	}
}

#cmd {
	overflow: scroll;
	padding: 1rem 1.25rem;
	white-space: pre;
	margin: 0 auto;
}

.hidden {
	display: none;
}
