* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EAFFFD;
}

.container {
	padding: 1em 0.5em;
	height: 100%;
	text-align: center;
}

#chart {
	display: flex;
	gap: 3px;

	overflow-x: scroll;
	border: 2px solid grey;
	padding: min(max(1vw, 6px), 1rem);
	background: #cafaf6;
	margin: 0 auto;
	max-width: max-content;
}

.day, .no-day {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px;
}

.day {
	background: darkgray;
}

.no-day {
	background: black;
}

.day:hover {
	background: lightgreen;
}

.day.clicked {
	background: green;
}

.day.clicked:hover {
	background: red;
}

.cmd-wrapper {
	display: flex;
}

#cmd {
	overflow: scroll;
	padding: 0 0.75rem;
	white-space: pre;
	margin: 0.5rem auto;
}

@media (min-height: 40rem) {
	.cmd-wrapper {
		flex-grow: 1;
		height: 0;
	}

	html, body, main {
		height: 100%;
	}
}

.inputlabel {
	background: #cafaf6;
	padding: 0.25em 1.5em;
	border-radius: 1em;
	margin-right: 1em;
}

.input {
	width: 5rem;
	border: none;
	margin-left: 1em;
}


.button {
	padding: 0.5em 1.5em;
	font-weight: 600;
	border-radius: 1em;
	border: none;
}

.button:active {
	outline: 2px lightblue solid;
}

.button.button-red {
	background: #f75c5e;
}
.button-red:hover {
	background: #fc4244;
}
.button-red:active {
	background: #fa3437;
}

.button-yellow {
	background: #ebfa7a;
}
.button-yellow:hover {
	background: #e6f760;
}
.button-yellow:active {
	background: #d4e833;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.gap-15 {
	gap: 1.5em;
}

.gap-05 {
	gap: 0.5em;
}

.hidden {
	display: none;
}
