{{define "head"}}
<script defer src="/assets/main.js"></script>
{{end}}

{{define "content"}}
<section class="container flex-column gap-15">
	<header>
		<h1>Generate your unique github summary chart</h1>
	</header>

	<div class="flex-row flex-center flex-wrap gap-05">
		<label class="inputlabel">
			Year:
			<input class="input" id="year" type="number" name="year">
		</label>
		<button id="edit-shared" class="button button-yellow hidden">Edit</button>
		<button id="share-modal-open" class="button button-yellow" disabled>Share</button>
		<button id="reset" class="button button-red" disabled>Reset</button>
		<div id="logged-as" class="hidden">
			<img id="github-profile-avatar" class="logo">
			<a id="github-profile-anchor"></a>
			<button id="more-options">
				<span>show more options</span>
			</button>

			<section id="more-options-section" class="hidden">
				<a href="/logout">Logout</a>
			</section>
		</div>

		<div id="login-with-github">
			<img class="logo" src="/assets/github-mark.svg" alt="">
			<a href="/github-login">Login with Github</a>
		</div>
	</div>

	<div>
		<div id="chart"></div>
	</div>

	<div id="chart-git-reproducer" class="flex-grow flex-column gap-15 hidden">
		<h2>Git cmd reproducer</h2>
		<div class="flex-grow flex-column gap-05">
			<div class="flex-row flex-center flex-wrap gap-05">
				<label class="inputlabel">
					Commit message:
					<input id="commit-name" class="input" type="text" name="commit-name" autocomplete="off" value="charts">
				</label>
				<button id="copy-to-clipboard" class="button button-yellow">Copy to clipboard</button>
			</div>
			<div class="cmd-wrapper">
				<code id="cmd"></code>
			</div>
		</div>
	</div>
</section>

<section id="share-modal" class="flex-column flex-center hidden">
	<div class="flex-column flex-center gap-15">
		<button id="share-modal-close" class="button button-yellow"><span>Close</span></button>

		<h2>Share your Chart</h2>

		<section class="flex-column gap-05 flex-center">
			<h3>Private share</h3>
			<button id="share-modal-copy-link" class="button button-yellow">Copy Link</button>
			<div>
				<a id="share-modal-link" href="#"></a>
			</div>
		</section>

		<section class="flex-column gap-05 flex-center">
			<h3>Public share</h3>
			<a id="public-share-url-result" class="hidden"> </a>
			<form id="public-share-form" class="flex-column gap-05 hidden">
				<div id="public-share-logged-as"></div>
				<label>
					Custom URL: <input id="public-share-enable-custom-path" autocomplete="off" type="checkbox">
				</label>
				<div id="public-share-url-wrapper" class="flex-column flex-center gap-05 hidden">
					<label>
						https://kdjfkd.com/s/ <input id="public-share-custom-path" type="text">
					</label>
					<div id="public-share-custom-path-status" class="hidden"></div>
				</div>
				<button type="submit" class="button button-yellow">Share</button>
			</form>
			<div id="github-login-anchor">
				<p>Login With Github to share publicly.</p>
				<a class="github-login" href="/github-login">
					Login With Github
				</a>
			</div>
		</section>
	</div>
</section>


{{end}}
