* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EAFFFD;
}

.container {
	padding: 1em 0.5em;
	height: 100%;
	text-align: center;
}

#chart {
	margin: 0 auto;
}

.week {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.day, .no-day {
	padding: 5px;
}

.day {
	background: darkgray;
}

.no-day {
	background: black;
}

.day:hover {
	background: lightgreen;
}

.day.clicked {
	background: green;
}

.day.clicked:hover {
	background: red;
}

.cmd-wrapper {
	display: flex;
}

#cmd {
	overflow: scroll;
	padding: 0 0.75rem;
	white-space: pre;
	margin: 0.5rem auto;
}

.chart {
	display: flex;
	gap: 3px;

	overflow-x: scroll;
	border: 2px solid grey;
	padding: min(max(1vw, 6px), 1rem);
	background: #cafaf6;
	max-width: max-content;
}

#my-public-shares {
	text-align: center;
}

#my-public-shares > h1 {
	font-size: 1.5em;
	padding: 1em;
}

#charts {
	max-width: min-content;
	margin: 0 auto;
}

.chart-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chart-controls a {
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	overflow-wrap: anywhere;
}

.chart-controls button {
	margin: 1em;
	white-space: nowrap;
}

@media (min-height: 40rem) {
	.cmd-wrapper {
		flex-grow: 1;
		height: 0;
	}

	.html-100, body, main {
		height: 100%;
	}
}

#share-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	padding: 0.5em;
}

#share-modal > div {
	position: relative;
	background: #EAFFFD;
	padding: min(5vw, 3em);
	border: 2px solid gray;
	border-radius: 0.5em;
	min-width: min(100%, 25em);
	max-width: 50em;
	text-align: center;
}

#share-modal h2 {
	font-size: 1.25rem;
}

#share-modal-close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0.5em 1em;
}

#share-modal-link {
	overflow-wrap: anywhere;
}

#share-modal-copy-link {
	width: max-content;
}

#share-modal-close span {
	display: none;
}

#share-modal-close::after  {
	content: 'X';
}

.github-login {
	display: inline-block;
	margin-top: 0.5em;
	color: black;
	background: white;
	padding: 0.5em 1em;
	border: 1px solid black;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	cursor: default;
}

.github-login:visited {
	color: black;
}

.github-login:hover {
	background: #e8e6e6;
}

.github-login:active {
	background: #cccaca;
}

#logged-as {
	display: flex;
	align-items: center;
	gap: 0.5em;

	background: #cafaf6;
	padding-right: 0.5em;
	border-radius: 1em;

	position: relative;
}

#logged-as > a {
	text-decoration: none;
}

.logo {
	width: 2rem;
	height: 2rem;
	border-radius: 1em;
}

#login-with-github {
	display: flex;
	align-items: center;
	gap: 0.5em;

	background: #cafaf6;
	padding-right: 0.5em;
	border-radius: 1em;
}

#login-with-github > a {
	text-decoration: none;
}

.inputlabel {
	background: #cafaf6;
	padding: 0.25em 1.5em;
	border-radius: 1em;
}

#more-options {
	font-size: 0;
	background: none;
	border: none;
	cursor: pointer;
}

#more-options::after {
	content: "^";
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
}

#more-options-section {
	position: absolute;
	top: 2.5rem;
	left: 0;
	right: 0;
	padding: 0.75em;
	background: #cafaf6;
	width: 100%;
	border-radius: 0.5em;
}

#more-options-section > a {
	color: black;
	text-decoration: none;
	display: block;
	border: 2px solid gray;
}

#chart-share {
	height: 100%;
	padding: 1.5em 0.5em;
}

#chart-share-controls {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

#chart-share-controls-year {
	padding: 0.5em 1em;
	border-radius: 1em;
	background: #cafaf6;
}

#chart-share-chart {
	margin: 0 auto;
}

#share-created-by-wrapper {
	display: flex;
	align-items: center;
}

#share-created-by {
	display: flex;
	align-items: center;
	gap: 0.5em;

	background: #cafaf6;
	padding-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 1em;
}

#share-created-by img {
	width: 2rem;
	height: 2rem;
	border-radius: 1em;
}

#share-created-by a {
	text-decoration: none;
}

#share-git-reproducer {
	padding-top: 1em;
	text-align: center;
	display: flex;
	gap: 1em;
	flex-direction: column;
}

.input {
	width: 5rem;
	border: none;
	margin-left: 1em;
}

.button {
	font-size: 0.85rem;
	color: black;
	text-decoration: none;
	padding: 0.5em 1.5em;
	font-weight: 600;
	border-radius: 1em;
	border: none;
}

.button:active {
	outline: 2px lightblue solid;
}

.button.button-red {
	background: #f75c5e;
}
.button-red:hover {
	background: #fc4244;
}
.button-red:active {
	background: #fa3437;
}

.button-yellow {
	background: #ebfa7a;
}
.button-yellow:hover {
	background: #e6f760;
}
.button-yellow:active {
	background: #d4e833;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.gap-15 {
	gap: 1.5em;
}

.gap-05 {
	gap: 0.5em;
}

.hidden {
	display: none !important;
}

.lightgreen {
	color: lightgreen;
}

.lightred {
	color: #fa3737;
}
